<!--@subject {{trans "Good news! %productname is now back in stock" productname=$productname}} @-->
<!--@vars {
"var firstname":"Firstname",
"var lastname":"Lastname",
"var email":"Recipient Email address",
"var productname":"Product name",
"var productlink|raw":"URL for Product"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%firstname," name=$Firstname}}</p>
<p>
    {{trans "The product you have registered an interest in is now back in stock." storeName=$storeName}}.
</p>

{{depend productname}}
<table class="message-info">
    <tr>
        <td>
            {{trans "%productname is now back in stock" productname=$productname}}</h3>
        </td>
        {{depend productlink}}
        <td>
            {{var productlink|raw}}
        </td>
        {{/depend}}
    </tr>
</table>
<br />
{{/depend}}

{{template config_path="design/email/footer_template"}}