<!--@subject {{trans "Good news! %productname is now back in stock" productname=$productname}} @-->
<!--@vars {
"var firstname":"Firstname",
"var lastname":"Lastname",
"var email":"Recipient Email address",
"var productname":"Product name",
"var productlink|raw":"URL for Product"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%firstname," firstname=$firstname}}</p>
<p>
    {{trans "The product you have registered an interest in is now back in stock"}}
</p>

<table class="message-info">
    {{depend productname}}
    <tr>
        <td>
            {{trans "%productname is now back in stock" productname=$productname}}</h3>
        </td>
    </tr>
    {{/depend}}
    {{depend productlink}}
    <tr>
        <td>
            {{var productlink|raw}}
        </td>
    </tr>
    {{/depend}}
</table>
<br />

{{template config_path="design/email/footer_template"}}