<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Xigen\BackInStock\Api\InterestRepositoryInterface" type="Xigen\BackInStock\Model\InterestRepository"/>
    <preference for="Xigen\BackInStock\Api\Data\InterestInterface" type="Xigen\BackInStock\Model\Data\Interest"/>
    <preference for="Xigen\BackInStock\Api\Data\InterestSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="Xigen\BackInStock\Model\ResourceModel\Interest\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">xigen_backinstock_interest</argument>
            <argument name="resourceModel" xsi:type="string">Xigen\BackInStock\Model\ResourceModel\Interest\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="xigen_backinstock_interest_listing_data_source" xsi:type="string">Xigen\BackInStock\Model\ResourceModel\Interest\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="BackInStock" xsi:type="object">Xigen\BackInStock\Console\Command\BackInStock</item>
            </argument>
        </arguments>
    </type>
</config>
